# Dependencies
node_modules

# Next.js
.next
out

# Production
build

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.production.local
.env.development.local

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Windows reserved names
nul
NUL
con
CON
aux
AUX
